/* Autor: Edgar Missael Cabral Báez - 2015*/ 
/*------------------------------------------------------------------*/ 
/*	3) Nota: Diseñado para anchos de 320 a 479px
/*------------------------------------------------------------------*/
@media only screen and (min-width: 200px) and (max-width: 662px){
.Buscador .ccm-search-block-text{
	margin-right:0px !important;	
}
.Buscador .ccm-search-block-text{
	width:80% !important;	
	padding:15px 0px !important;
}

.logo {margin:0 auto; width:100%; text-align:center; margin-bottom:10px;}

.ccm-image-slider{
	border-radius: 5px 5px 5px 0;
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);	
	margin-left:-25px;
	margin-right:-25px;
}

@media only screen and (min-width: 200px) and (max-width: 479px){
/*------------------------------------------------------------------*/ 
/*	1) Cabecera
/*------------------------------------------------------------------*/

.logo a img{
	float:none;	
}
.logogobierno > img{display:none}
.logogobierno{
	width:100%;
	margin-top:-5px !important;	
}
.ccm-search-block-text{
	padding-left:5px !important;
	padding-top:10px !important; 
	padding-bottom:10px !important;
	margin-bottom: -10px !important;
	margin-right:0px !important;
}

.button, input[type="submit"], button {
	padding: 12px 20px 12px 20px;
}

.logo img{max-width:300px;}
.Buscador{
	margin:0 auto;
	margin-bottom:20px;
	width: 90%;
	background-image:none;
	float:none !important;
	width:0 auto;
	padding-left:0px !important;
}
.footer_table{
	display:block;
}

p img{width:100% !important; height:auto}


.Principal-central{
	width:960px;
	height:720px;
	border-radius:20px;
}

.buscador_input{
	font-size:22px;
	height:auto;
	float:left;
	width:60%;
}
.al_centro{
	margin-left:4px;
	display:block;
	text-align:center;
	font-size:14px;
	color:#333;
	margin-bottom:7px;
	text-shadow:2px 2px 1px #FFFFFF;
	font-weight:bold;
}
.Sombra {
	background-image:url(../../img/bg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:bottom;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	   -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.al_centro_infos_numeros{
	margin-left:10%;
	margin-right:10%;
	text-align:center;
	font-size:14px;
	padding:10px;
	background-color: rgba(200,200,200,0.7);
	margin-bottom:7px;
	width:220px;
	float:left;
	border: 1px solid #eee;
}
.base_infos{
	padding:7px;
	color:#222;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.24);
	box-shadow: 0px 0px 2px 5px 0rgba(0,0,0,0.24);	
	border: 1px solid #eee;
	border-radius:5px;
	margin:5px;
	background:#fff;
	text-align:center;
	display:block;
	width:88%;
	transition: opacity 1s, box-shadow 1s, transform 1s, background 1s;
	-webkit-transition: opacity 1s, -webkit-box-shadow 1s, -webkit-transform 1s, background 1s, color 1s;
	transform:scale(1,1);
	-webkit-transform:scale(1,1);
	float:left;
	height:60px;
}
.al_centro_mas_infos{
	margin-left:10%;
	margin-right:10%;
	text-align:center;
	font-size:14px;
	margin-bottom:7px;
	width:220px;
	float:left;
}
.boton_mas_infos{
	border-radius:10px;
	-webkit-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.24);
	box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.24);	
	padding:10px;
	width:95%;
	font-size:16px;
	margin-bottom:5px;
	color:#fff;
	height:30px;
	background: rgba(140,5,5,0.6);
	border: 2px solid #CCC;
	transition: opacity 1s, box-shadow 1s, transform 1s, background 1s;
	-webkit-transition: opacity 1s, -webkit-box-shadow 1s, -webkit-transform 1s, background 1s, color 1s;
	transform:scale(1,1);
	-webkit-transform:scale(1,1);
	float:left;
}
.img_pubblicacion{
	width:100%;
	height:auto;	
}

.enlace_footer{
	font-size:16px;
	color:#465f6e;
	font-weight:bold;
	margin-right:25px;
	border-bottom: 1px dashed #ddd;
	margin-bottom: 3px;
	margin-top: 7px;
	width:100%;
}

.youtube-player{
	width:100% !important;	
}
.ccm-image-slider-text{
	position:relative !important;
	background:none;
	padding-bottom:40px;	
}
.ccm-image-slider{
	margin-bottom:15px;	
}

div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-thumbnail img{
	width:300px !important;
	border-radius:3px;	
}
div.ccm-block-page-list-page-entry-horizontal div.ccm-block-page-list-page-entry-thumbnail{
	display:block !important;	
}
/*------------------------------------------------------------------*/ 
/*	3) central
/*------------------------------------------------------------------*/
.Principal-central {
	width:300px;
	margin:0;
}
/*------------------------------------------------------------------*/ 
/*	3) Contenido
/*------------------------------------------------------------------*/
.Principal-contenido{
	width:100%;
}
.solo_base{
	width:100%;
	margin-right:0;
}
.solo_base img{
	max-width:100%;
}
.ancho{
	width:100%;
}
}