@charset "utf-8";
/* CSS Document */
/* Autor: Edgar Missael Cabral Báez - 2015*/ 
nav#nav{
	border-radius:0;
	float:left;
	clear:both;
	width:100%;
	height:auto;
	text-align:center;
	background: #e22d2d;
	-webkit-box-shadow: 0px 15px 10px -10px rgba(0,0,0,.4);
	-moz-box-shadow: 0px 15px 10px -10px rgba(0,0,0,.4);
	box-shadow: 0px 15px 10px -10rgba(0,0,0,.4);
	transition:all .3s;
	cursor:pointer;
}
.Menu_general{
	list-style-type:none;
	clear:both;
	padding:0;
}
.Menu_general>li{
	border-right:1px solid rgba(0,0,0,.1);
	float:left;
	transition: all .2s;
	color:#FFF;
}
.Menu_general>li>a{
	padding:10px 18px !important;
	display:block;
	position:relative;
	transition: all .2s;
}


.Menu_general li a{
	transition: all .3s;
}
.Menu_general li:hover{
	color:#fff;
	background: rgba(0,0,0,.2);
	transition: all .2s;
}
.Menu_general>li>a{}
.Menu_general>li>a:hover{
	text-decoration:none;
}

/*Menu-Movil*/

#nav li{
list-style-type:none;
}
.Menu_mobile{
display:none;
}

/* /Menu-Movil*/


.Menu_general > li > ul {
	display: none; border-radius:1px;border:1px solid #ddd; background-color:#465f6e;  list-style-type: none; text-decoration:none;position: relative; padding:0px; margin-top:40px; margin-left:-2px; opacity:.9;
box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}
.Menu_general > li > ul > li > ul {
	display: none; border-radius:0 10px 10px 10px;border:1px solid #ddd; background-color:#373737;  list-style-type: none; text-decoration:none;position: relative;
box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}
@media only screen and (min-width: 1001px){
	.Menu_general > li{
		color:#FFF;
		font-family: 'OpenSans', Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:bold;
		cursor:pointer;
		transition: all .3s;
	}
	.Menu_general > li > ul > li{
		color:#FFF !important;
		font-family: 'OpenSans', Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:bold;
		cursor:pointer;
		transition: all .3s;
		padding:7px;
		padding-left:18px;
		padding-right:18px;
	}
	.Menu_general > li:hover > ul{
		display: block;
		position: absolute;
		padding-top:10px;
		padding-bottom:10px;
		z-index: 444;
		opacity:1;
		-webkit-animation: sub_menu_ordenador .3s;
		-moz-animation: sub_menu_ordenador .3s;
	}
		
	@-webkit-keyframes sub_menu_ordenador{
		0%{opacity:0;}
		100%{opacity:1;}
	}
}

.Menu_general > li > ul > li:focus > ul {display: table;
position: fixed;
margin-top:3px;
padding-top:3px;
padding-bottom:3px;
z-index: 444;
}
.Menu_general > li > ul > li > a {
margin-top:0px;
transition: all .3s;
text-decoration:none;
color:#FFF !important;
}
.Menu_general > li > ul > li > ul > li > a {
text-decoration:none;
margin-left:-20px;
transition: .5s cubic-bezier(.24,.77,.82,.33);	
}
.Menu_general > li > ul > li, .Menu_general > li > ul > li > ul > li {
list-style-type:none;
margin-top:0px;
margin-bottom:0px;
min-width:150px;
text-align:left;
}
.Menu_general > li > ul > li > a:hover {border-top-color: #000;
position: relative;
width:100%;
transition: .5s cubic-bezier(.24,.77,.82,.33);	
}
table.falsa {border-collapse:collapse;
border:0px;
position: relative;
}
input.oculto[type=checkbox] {display:none;}

.sub{
	float:right; 
	position:relative; 
	background-image:url(../img/submenu.png);
	background-repeat:no-repeat;
	background-size:20px;
	height:20px;
	padding:0 10px 0 10px;
	margin:10px 10px 0 -5px; 
	border-radius:5px; 
}
.sub_menu_margin{
	float:left;
	padding:10px 18px;	
}
@media only screen and (min-width: 200px) and (max-width: 1000px){
	.Menu_general > li > a{
		padding:0px !important;
	}
	.sub_menu_margin{
		float:left;
		padding:0px;	
		width:100%;
	}
	.Menu_general>li{
		border-right:0px;
	}
	.sub{
		float:right; 
		position:relative; 
		background-image:url(../img/submenu.png);
		background-repeat:no-repeat;
		background-size:20px;
		height:20px;
		padding:0 10px 0 10px; 
		border-radius:5px; 
		margin-left:-20px !important;
		margin-right:10px !important;
		margin-top:-20px;
	}
	.Menu_general li{
		color:#FFF;
		font-family: 'OpenSans', Arial, Helvetica, sans-serif;
		font-size:13px;
		padding:10px 0 10px 0;
		cursor:pointer;
	}
	.Menu_general > li > ul {
		margin-left:0px !important;	
	}
	.Menu_general{
		margin-right:1px;	
	}
	.Menu_general li a:hover{
		color:#fff;
	}
/*Menu-Movil*/
	.base_menu{
		margin-top:-55px;
		height:50px;
		background:#FFF;	
	}
	.cabecera_general input, .cabecera_general input:focus{
		transition: none !important;
		border: 0px !important;
		border-color:#FFF !important;
		box-shadow:none !important;
		-webkit-box-shadow:none !important;
	}
	.Menu_mobile{
		display:block;
		background-image:url(../img/boton.png);
		background-repeat:no-repeat;
		background-size:30px;
		background-position:center;
		height:50px;
		cursor:pointer;
		float:right;
		width:50px;
	}
	#nav li ul li{
		list-style-type:none;
	}
	#nav > li{
		list-style-type:none;
		text-decoration:none;
		font-size:22px;
		font-weight:bold;
	}
	nav#nav{
		border-radius:4px;	
		padding:5px 0 5px 0;
		margin-bottom:15px;
	}
	ul.Menu_general>li { width:100%; }
	.Menu_general>li{
		border-top:1px solid tgba(0,0,0,.2);	
		float:left;
	}

/* /Menu-Movil*/

	.Menu_general li.seleccion>a{
		border-radius:5px;
	}
	.Menu_general > li:hover > ul {display: block;
	position: relative !important;
	-webkit-animation: sub_menu .5s;
	-moz-animation: menu_apertura .5s;
	-o-animation: menu_apertura .5s;
	animation: menu_apertura .5s;
	}
	@-webkit-keyframes sub_menu{
		0%{opacity:0;-webkit-transform:scale(.7,0);-moz-transform:scale(.7,0);-o-transform:scale(.7,0);transform:scale(.7,0)}
		100%{opacity:1;-webkit-transform:scale(1,1);-moz-transform:scale(1,1);-o-transform:scale(1,1);transform:scale(1,1)}
	}
	.Menu_general > li > ul > li > a:hover > ul, .Menu_general > li > ul > li:hover > ul {	display: block;
	position: relative;
	}
	.Menu_general > li > ul {display: none; border-radius:0; background-color:rgba(0,0,0,.2);  list-style-type: none; text-decoration:none;position: relative; margin-bottom:0px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
		-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	}
	.Menu_general > li > ul > li > ul {border-radius:2px;border:1px solid #ddd; background-color:#9e0707; list-style-type: none; text-decoration:none;position: relative; margin-right:15px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	}
	.Menu_general > li > ul > li {
	border-radius:5px;
	float:none;
	}
	.Menu_general > li > ul > li, .Menu_general > li > ul > li > ul > li {
	list-style-type:none;
	margin-top:5px;
	margin-bottom:5px;
	text-align:center;
	}
	.Menu_general {display:none; transition:all .5s;}
	:checked ~ #nav > li > .Menu_general{
		display:block;
		opacity:1;
		-webkit-animation: menu_apertura .5s;
		-moz-animation: menu_apertura .5s;
		-o-animation: menu_apertura .5s;
		animation: menu_apertura .5s;
		transition:all .5s;
	}
	@-webkit-keyframes menu_apertura{
		0%{height:0px; opacity:0;-webkit-transform:scale(.5,0);-moz-transform:scale(.5,0);-o-transform:scale(.5,0);transform:scale(.5,0);}
		100%{height:auto; opacity:1;-webkit-transform:scale(1,1);-moz-transform:scale(1,1);-o-transform:scale(1,1);transform:scale(1,1);}
	}
	input.oculto[type=checkbox] {display:none; margin-left:-999px;}

}