@charset "utf-8";

body{
	background:#CCC url(../img/bg.jpg) no-repeat fixed center top;
	background-size:cover;
}
.body_detallado{
	width:100%;
	margin:0;
	padding:0;
	float:left;
	z-index:100;
	position:relative;
	height:auto;
	min-height:100%;
}
.controlador{
	width:1060px;
	-webkit-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.44);
-moz-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.44);
box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.44);
	margin:0 auto;
	min-height:100%;
}
.controlador2{
	width:100%;
	float:left;
	border-radius: 5px 5px 0 0;
	-webkit-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.44);
-moz-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.44);
box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.44);
	background:#FFF;
	min-height:100%;
}

/*------------------------------------------------------------------*/ 
/*	1) Cabecera
/*------------------------------------------------------------------*/
#header{
	height:auto;
	width:100%;
	margin-bottom:20px;
	float:left;
	position:relative;
}
.logo{
	width:auto;
	height:auto;
	float:left;
}
.logo2{
	width:auto;
	height:auto;
	float:right;
}
.Buscador{
	width:230px;
	float:right;
	margin-top:30px;
	margin-right:50px;
}
.Buscador .campo{
	background:none;
	padding:5px;
	margin:4px 0 0 10px;
	width:156px;
	color:#373737;
}
.Buscador .boton{
	background:#8C0505 url(../img/search.png) no-repeat center;
	border:none;
	height:29px;
	width:43px;
	float:right;
	border-radius:10px;
}
nav#nav{
	border-radius:4px;
	float:left;
	clear:both;
	width:100%;
	margin-top:20px;
	background: rgba(215,29,29,1);
	background: -moz-linear-gradient(top, rgba(215,29,29,1) 0%, rgba(215,29,29,1) 50%, rgba(138,5,5,1) 51%, rgba(138,5,5,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(215,29,29,1)), color-stop(50%, rgba(215,29,29,1)), color-stop(51%, rgba(138,5,5,1)), color-stop(100%, rgba(138,5,5,1)));
	background: -webkit-linear-gradient(top, rgba(215,29,29,1) 0%, rgba(215,29,29,1) 50%, rgba(138,5,5,1) 51%, rgba(138,5,5,1) 100%);
	background: -o-linear-gradient(top, rgba(215,29,29,1) 0%, rgba(215,29,29,1) 50%, rgba(138,5,5,1) 51%, rgba(138,5,5,1) 100%);
	background: -ms-linear-gradient(top, rgba(215,29,29,1) 0%, rgba(215,29,29,1) 50%, rgba(138,5,5,1) 51%, rgba(138,5,5,1) 100%);
	background: linear-gradient(to bottom, rgba(215,29,29,1) 0%, rgba(215,29,29,1) 50%, rgba(138,5,5,1) 51%, rgba(138,5,5,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d71d1d', endColorstr='#8a0505', GradientType=0 );
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.24);
	box-shadow: 0px 0px 4px 5px 0rgba(0,0,0,0.24);	
}
.Menu_general{
	list-style-type:none;
	clear:both;
	margin:0;
	padding:0;
}
.Menu_general>li{
	border-right:1px dashed #AAA;
	float:left;
	background: rgba(215,29,29,1);
	background: -moz-linear-gradient(top, rgba(215,29,29,1) 0%, rgba(215,29,29,1) 50%, rgba(138,5,5,1) 51%, rgba(138,5,5,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(215,29,29,1)), color-stop(50%, rgba(215,29,29,1)), color-stop(51%, rgba(138,5,5,1)), color-stop(100%, rgba(138,5,5,1)));
	background: -webkit-linear-gradient(top, rgba(215,29,29,1) 0%, rgba(215,29,29,1) 50%, rgba(138,5,5,1) 51%, rgba(138,5,5,1) 100%);
	background: -o-linear-gradient(top, rgba(215,29,29,1) 0%, rgba(215,29,29,1) 50%, rgba(138,5,5,1) 51%, rgba(138,5,5,1) 100%);
	background: -ms-linear-gradient(top, rgba(215,29,29,1) 0%, rgba(215,29,29,1) 50%, rgba(138,5,5,1) 51%, rgba(138,5,5,1) 100%);
	background: linear-gradient(to bottom, rgba(215,29,29,1) 0%, rgba(215,29,29,1) 50%, rgba(138,5,5,1) 51%, rgba(138,5,5,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d71d1d', endColorstr='#8a0505', GradientType=0 );
}
.Menu_general>li>a{
	display:block;
	position:relative;
}
.Menu_general li a{
	color:#FFF;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size:13px;
	padding:10px;
	font-weight:bold;
}
.Menu_general li a:hover{
	color:#fff;
	background-color:#d71d1d;
	border-radius:4px;
}
.Menu_general>li>a{}
.Menu_general>li>a:hover{
	text-decoration:none;
}
.Menu_general li.seleccion>a{
	color:#FFF;
	background-color:#465f6e;
	text-decoration:none;
	border-bottom:3px solid #d71d1d;
	margin-bottom:-3px;
	border-radius:4px;
}
/*------------------------------------------------------------------*/ 
/*	2) Componentes
/*------------------------------------------------------------------*/
.central{
	margin-bottom:30px;	
}
.Principal-central{
	width:960px;
	height:360px;
	margin-bottom:20px;
	border-radius:20px;
}
	.Sombra {
		background-image:url(../img/bg.jpg);
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		   -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
				box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	}
	
/*------------------------------------------------------------------*/ 
/*	3) contenido
/*------------------------------------------------------------------*/
#Contenido{
	float:left;
	clear:both;
	width:100%;
}
.Principal-contenido{
	float:left;
	width:640px;
	margin-bottom:20px;
}
h5.linea{
	border-bottom:1px solid #8C0505;
	padding-bottom:3px;
	position:relative;
	margin-bottom:15px;
	text-transform:uppercase;
	color: #465f6e;
}
h5.linea>span{
	width:auto;
	border-bottom:3px solid #8C0505;
	padding-bottom:3px;
}
.solo_base{
	width:300px;
	margin-right:20px;
	float:left;
	margin-top:10px;
	position:relative;
}
.ancho{
	width:620px;
	float:left;
	position:relative;
}
li.margen_no, div.margen_no{
	margin-right:0;
}
.solo_base img{
	max-width:300px;
}
h6.normal{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	margin-top:10px;
	font-weight:normal;
}
a.url{
	color:#696969;
}
/*  :: Elementos ::  */
ul, ol{
	margin:0;
	padding:0 0 0 20px;
	color:#686d71;
}
.info{
	border:1px solid #1fbcf0;
	color:#1fbcf0;
	background:#caefff;
	margin-top:10px;
}
table{
	width:100%;
	text-align:left;
	border-top:1px solid #ededed;
	border-left:1px solid #ededed;
	border-spacing: 0;
	margin-bottom:15px;
	color:#696969;
}
table th{
	vertical-align:top;
	background:#fafafa;
	border-right:1px solid #ededed;
	border-bottom:1px solid #ededed;
	padding:10px;
}
table td{
	vertical-align:top;
	border-right:1px solid #ededed;
	border-bottom:1px solid #ededed;
	padding:10px;
}
/*------------------------------------------------------------------*/ 
/*	4) cabecera para ante los contenidos
/*------------------------------------------------------------------*/
.paneles{
	margin-bottom:30px;
	float:left;
	width:100%;
}
.paneles h5.linea{
	margin-bottom:20px;
}

/*------------------------------------------------------------------*/ 
/*	5) Pie de pagina
/*------------------------------------------------------------------*/
#footer{
	height:auto;
	width:100%;
	bottom:0;
	padding:20px 0 0 0;
	border-bottom:4px solid #373737;
	float:left;
	background:#fafafa;
}
#footer h5.linea{
	margin-bottom:15px;
}
/*------------------------------------------------------------------*/ 
/*	6) Otros detalles
/*------------------------------------------------------------------*/
.boton_servicios{
	background:#b9c3c8;
	border-radius:10px;
	-webkit-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.24);
	box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.24);	
	padding:10px;
	width:90%;
	font-size:16px;
	color:#222;
	background: rgba(236,236,236,1);
	background: -moz-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(208,208,208,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(236,236,236,1)), color-stop(100%, rgba(208,208,208,1)));
	background: -webkit-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(208,208,208,1) 100%);
	background: -o-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(208,208,208,1) 100%);
	background: -ms-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(208,208,208,1) 100%);
	background: linear-gradient(to bottom, rgba(236,236,236,1) 0%, rgba(208,208,208,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#d0d0d0', GradientType=0 );
	border: 1px solid #CCC;
	transition: opacity 1s, box-shadow 1s, transform 1s, background 1s;
	-webkit-transition: opacity 1s, -webkit-box-shadow 1s, -webkit-transform 1s, background 1s, color 1s;
	transform:scale(1,1);
	-webkit-transform:scale(1,1);
}
.boton_servicios:hover{
	transform:scale(1.05,1.05);
	-webkit-transform:scale(1.05,1.05);
}
.icono_serv{
	top:50%;
	float:left;
	width:50px;
	height:50px;
	margin-right:10px;
	border-radius:5px;
}
.titulo{
	font-size:17px;
	color:#333;	
}
.sub-titulo{
	font-size:14px;
	color:#666;	
}
.campo_text{
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.24);
	box-shadow: 0px 0px 2px 5px 0rgba(0,0,0,0.24);	
	border: 1px solid #eee;
	margin-bottom:10px;
	height:20px;
}
.conocemas{
	padding:10px;
	width:90%;
	font-size:16px;
	color:#8C0505;
	text-align:center;
	background: rgba(236,236,236,1);
	background: -moz-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(208,208,208,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(236,236,236,1)), color-stop(100%, rgba(208,208,208,1)));
	background: -webkit-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(208,208,208,1) 100%);
	background: -o-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(208,208,208,1) 100%);
	background: -ms-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(208,208,208,1) 100%);
	background: linear-gradient(to bottom, rgba(236,236,236,1) 0%, rgba(208,208,208,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#d0d0d0', GradientType=0 );
	border: 3px solid #CCC;
	text-decoration:none;
	font-size:16px;
	margin-bottom:10px;
	transition: opacity 1s, box-shadow 1s, transform 1s, background 1s;
	-webkit-transition: opacity 1s, -webkit-box-shadow 1s, -webkit-transform 1s, background 1s, color 1s;
	transform:scale(1,1);
	-webkit-transform:scale(1,1);
}
.conocemas:hover{
	transform:scale(1.05,1.05);
	-webkit-transform:scale(1.05,1.05);
}
.info{
	background:#74a82a;
	color:#EEE;
	padding:10px;
	border: 1px solid #999;	
	opacity:0.7;
}
.info>a{
	color:#FFF;
	border-bottom: 1px solid #FFF;
}
.bases_contenidos{
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.24);
	box-shadow: 0px 0px 2px 5px 0rgba(0,0,0,0.24);	
	border: 1px solid #eee;
	border-radius:10px;
	margin-bottom:5px;
	background:#FFF;
	text-align:center;
	transition: opacity 1s, box-shadow 1s, transform 1s, background 1s;
	-webkit-transition: opacity 1s, -webkit-box-shadow 1s, -webkit-transform 1s, background 1s, color 1s;
	transform:scale(1,1);
	-webkit-transform:scale(1,1);
}
.bases_contenidos:hover{
	transform:scale(1.05,1.05);
	-webkit-transform:scale(1.05,1.05);
}
.boton_defe{
	padding:7px;
	color:#222;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.24);
	box-shadow: 0px 0px 2px 5px 0rgba(0,0,0,0.24);	
	border: 1px solid #eee;
	border-radius:5px;
	margin:10px;
	background:#b9c3c8;
	text-align:center;
	transition: opacity 1s, box-shadow 1s, transform 1s, background 1s;
	-webkit-transition: opacity 1s, -webkit-box-shadow 1s, -webkit-transform 1s, background 1s, color 1s;
	transform:scale(1,1);
	-webkit-transform:scale(1,1);
}
.boton_defe:hover{
	transform:scale(1.05,1.05);
	-webkit-transform:scale(1.05,1.05);
}
.detalles{
	float:right;
	text-align:right;	
}
.cabecera_general{
	z-index:100;
	background:#465f6e;
	height:50px;
	margin-bottom:20px;
	border-bottom:20px solid #b9c3c8;
}
.formulario{
	padding:20px;
	margin:10px;
	background:#b9c3c8;
	border-radius:4px;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.24);
	box-shadow: 0px 0px 2px 5px 0rgba(0,0,0,0.24);	
}
.tabla{
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.24);
	box-shadow: 0px 0px 2px 5px 0rgba(0,0,0,0.24);	
	margin:20px;
}
.buscador_principal{
	width:100%;
	height:32px;
	border-radius:10px;
	padding:10px;
	background:#FFF;
	-webkit-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.24);
	box-shadow: 0px 2px 5px 5px 0rgba(0,0,0,0.24);		
	z-index:100;
	border:2px solid #AAA;
}
.icono-buscador{
	width:32px;
	height:32px;
	top:50%;
	float:left;
	margin-right:5px;
	background-image:url(../img/busqueda%203.png);
	background-size:32px;
	background-repeat:no-repeat;
	opacity:0.5;
}
.buscador_input{
	font-size:22px;
	height:auto;
	float:left;
	width:80%;
	color:#666;
}
.boton_buscar{
	width:100px;
	font-size:17px;
	height:30px;
	top:50%;
	float:right;
	color:#222;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.24);
	box-shadow: 0px 0px 2px 5px 0rgba(0,0,0,0.24);	
	border: 1px solid #eee;
	border-radius:5px;
	background:#8aae1a;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	transition: opacity 1s, box-shadow 1s, transform 1s, background 1s;
	-webkit-transition: opacity 1s, -webkit-box-shadow 1s, -webkit-transform 1s, background 1s, color 1s;
	transform:scale(1,1);
	-webkit-transform:scale(1,1);
}
.al_centro{
	display:block;
	margin-left:10%;
	margin-right:10%;
	text-align:center;
	font-size:15px;
	color:#333;
	margin-bottom:7px;
}
.al_centro_infos_numeros{
	margin-left:10%;
	margin-right:10%;
	text-align:center;
	font-size:14px;
	padding:10px;
	background-color: rgba(220,220,220,0.7);
	margin-bottom:7px;
	width:770px;
	float:left;
	border: 1px solid #eee;
}
.base_infos{
	padding:7px;
	color:#222;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.24);
	box-shadow: 0px 0px 2px 5px 0rgba(0,0,0,0.24);	
	border: 1px solid #eee;
	border-radius:5px;
	margin:10px;
	background:#b9c3c8;
	text-align:center;
	display:block;
	width:20%;
	transition: opacity 1s, box-shadow 1s, transform 1s, background 1s;
	-webkit-transition: opacity 1s, -webkit-box-shadow 1s, -webkit-transform 1s, background 1s, color 1s;
	transform:scale(1,1);
	-webkit-transform:scale(1,1);
	float:left;
	height:90px;
}
.base_infos:hover{
	transform:scale(1.05,1.05);
	-webkit-transform:scale(1.05,1.05);
}
.Numeros_infos{
	font-size:25px;
	color:#333;	
}
.al_centro_mas_infos{
	margin-left:10%;
	margin-right:10%;
	text-align:center;
	font-size:14px;
	margin-bottom:7px;
	width:790px;
	float:left;
}
.boton_mas_infos{
	border-radius:10px;
	-webkit-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.24);
	box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.24);	
	padding:10px;
	width:29%;
	font-size:16px;
	margin:5px;
	color:#fff;
	height:30px;
	background: rgba(140,5,5,0.6);
	border: 2px solid #CCC;
	transition: opacity 1s, box-shadow 1s, transform 1s, background 1s;
	-webkit-transition: opacity 1s, -webkit-box-shadow 1s, -webkit-transform 1s, background 1s, color 1s;
	transform:scale(1,1);
	-webkit-transform:scale(1,1);
	float:left;
}
.boton_mas_infos:hover{
	transform:scale(1.05,1.05);
	-webkit-transform:scale(1.05,1.05);
	background: rgba(140,5,5,0.9);
	-webkit-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.40);
	-moz-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.40);
	box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.40);	
}
.icono_mas_infos{
	top:50%;
	float:left;
	width:30px;
	height:30px;
	margin-right:10px;
	border-radius:5px;
}
.titulo_mas_infos{
	margin-top:2px;
	font-size:17px;
	color:#fff;	
	float:left;
}