/************************************/
/*	ESTILOS
/************************************/
body{
	padding:0;	
	margin:0;	
	width:100%;	
	height:100%;
	font-size:12px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	line-height:1.6;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color:#c5c5c5;
}
article, aside, footer, header, menu, nav, section {
	display: block; }
*{
	outline:none;
	border:none;
}
a img{
	border:none;
}
.spacer{
	clear:both;	
	width:100%;	
	height:0;
}
.body_detallado {
	width:100%;		
	margin:0 auto;	
	padding:0;
}
.controlador {
	width:940px; 
	height:auto; 
	margin:0 auto;	
	padding:0;
	background:#465f6e;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
	color:#696969;
	margin:0 0 10px 0;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight:bold;
}
p{
	font-size:12px;
	color:#929292;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	margin-top:0;
	margin-bottom:15px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	color:#696969;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{
	text-decoration:underline;
}
a{
	color:#8C0505;
}
a:hover{
	text-decoration:underline;
}
h5{
	font-size:16px;
}
a, a > * {
	font-family: inherit;
	text-decoration: none;
	-webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
	   -moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
	    -ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
	     -o-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
	        transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out;
}
.button, input[type="submit"], button {
	background: #80B600;
	color: #fff;
	cursor: pointer;
	height: auto;
	overflow: visible;
	padding: 5px 20px 6px 20px;
	border-radius:3px;
	-webkit-transition: background-color .3s ease;
	   -moz-transition: background-color .3s ease;
		-ms-transition: background-color .3s ease;
		 -o-transition: background-color .3s ease;
			transition: background-color .3s ease;
	width: auto;
}
