/* Perzonalizado con ancho fijo para tener las barras laterales */
/*.web_page{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.30);   
}
.cabecera{
    background: url(../img/fondo_cabecera.jpg);
    background-size: cover;
}*/

/* Actualización 02/11/2015*/
.parallax-container img{
    width: 100% !important;
    height: auto !important;
}

.contenido_principal input::-webkit-input-placeholder { color: #444; } /* WebKit */
.contenido_principal input:-moz-placeholder { color: #444; } /* Firefox 18- */
.contenido_principal input::-moz-placeholder { color: #444; } /* Firefox 19+ */
.contenido_principal input:-ms-input-placeholder { color: #444; } /* IE 10+ */

/* Fuente */
.progress{
    margin: 0px !important;
    background-color: #FFF !important;
}
#tapa_carga{
    position:fixed;
	z-index:2500;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:99999999; 
	background-color:rgba(255,255,255,.8);   
}
.centrado_superior{
    position:fixed;
	z-index:99999999;
	width:100%;
	height:5px;
	top:0%; 
	-webkit-animation: pulse 1s infinite;
	-moz-animation: pulse 1s infinite;
	animation: pulse 1s infinite;
	font-size:18px;
	color:#FFF;   
}

@media only screen and (max-width : 600px) {
    .centrado_superior{
        width:100%;
        left:0px;
        top:0%; 
        height: 10px;
        margin:0px;
    }
}

/* Cabecera */
.cabecera .row{
    margin-bottom: 0px !important;
}
.menu_color{
    background: #e22d2d !important;
}
.cabecera .logo{
    max-width: 400px;
    width: 100%;
    opacity: 1;
}
.cabecera img{
    opacity: 1 !important;
}
.ajustar_img img{
    width: 100%;
    height: auto;
}
@media only screen and (max-width : 600px) {
    .invisible_smartphone, ocultar_sm{
        display: none !important;   
    }
    .cabecera .right{
        float: none !important;   
    }
}
@media only screen and (max-width : 1035px) {
    .cabecera img{ width: 100%; height: auto; }
}




/*Buscador*/
.cabecera .input-field, .cabecera .input-field .active {
    color:#FFF !important;
    margin-top: 0px !important;
}

.cabecera .input-field input::-webkit-input-placeholder { color: #FFF !important; } /* WebKit */
.cabecera .input-field input:-moz-placeholder { color: #FFF !important; } /* Firefox 18- */
.cabecera .input-field input::-moz-placeholder { color: #FFF !important; } /* Firefox 19+ */
.cabecera .input-field input:-ms-input-placeholder { color: #FFF !important; } /* IE 10+ */
.cabecera .input-field label{
    color: #EEE !important; 
}
@media only screen and (max-width : 600px) {
    .cabecera .buscador_menu{
        float:right;
        margin-bottom:-60px;
        width:100%;
        padding-left:50px;
    }
    .cabecera .buscador_menu input[type=text]{
        border-bottom: 0 !important;
        margin-top: 2px;
    }
}

/* MENU */
.dropdown-content li > a, .dropdown-content li > span{
    color: #333 !important; 
}
.dropdown-content{
    height: auto !important;
}
.sub-menu{
    min-width: 150px !important;
    top: auto !important;
}
.sub-menu li > a{
    padding: 5px 5px 5px 15px !important;
    font-size: 13px !important;
}
nav .waves-effect{
    display: block;   
}
.waves-effect.waves-brown .waves-ripple {
  background-color: rgba(121, 85, 72, 0.65);
}
@media only screen and (max-width : 600px) {
    .side-nav a{
        height: auto !important;
        line-height: 44px !important;
    }
    .sub-menu li > a{
        padding: 0px 5px 0px 15px !important;
        font-size: 12px !important;
    }
}




/* Slider */
.ccm-image-slider-container{
    color: #333;   
}
.ccm-image-slider-text{
    top: 0;   
}
.rslides_nav{
    margin-left: -45px;
    margin-right: -45px;
}
@media only screen and (max-width : 600px) {
    .ccm-image-slider-text{ position: relative }
    .rslides_nav{
        top:100%;
        margin-left: 0;
        margin-right: 0;
        margin-top:-25px;
        height: 38px;
        background-position:left center;
    }
    .rslides_nav.next{
        background-position:right center;
    }
}


/* Barras Laterales */
.barra_lateral{
    margin-top:-16px !important; 
    margin-bottom: -16px !important;
    padding: 10px;
    background: #ecf0f1;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}
@media only screen and (max-width : 600px) {
    .barra_lateral{
        margin-top:5px !important;
    } 
}

/* Footer */
.footer-copyright a{
    color: #FFF;
    border-bottom: 1px solid #eee;
}
.page-footer ul li{
    list-style-type: circle;
    color:#FFF;
}
@media only screen and (max-width : 600px) {
    .page-footer{
        background-position: center;
    }
}

/* General */
hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}

.contenido_principal ul, .contenido_principal ul li{
    list-style-type: disc !important;
}
.contenido_principal ul{
    padding-left:40px !important;   
}

.pagination{
    padding-left:0 !important;   
}


.mostrar{
    opacity: 1;   
}
.ocultar{
    opacity: 0;   
}
.contenido_principal{
    min-height: 300px;   
}

body{
    overflow-x: hidden;   
}
p {
  line-height: 1.5rem;
}

.button-collapse {
  color: #FFF;
}

.parallax-container {
  min-height: 100px;
  height: auto;
  color: #333;
}
@media only screen and (max-width : 1035px) {
  .parallax-container .container{
    position: relative;
  }
  .parallax-container .parallax img {
    transform: translate3d(-50%, 50%, 0px) !important;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


/* Concrete5 */
@media only screen and (max-width : 1035px) {
    .ccm-layout-column{
        width: 100% !important;   
    }
    .ccm-layout-column-inner{
        margin: 0px !important;   
    }
}
.section .img-responsive{
    width: 100%; height: auto; 
}